var React    = require('react')
var DataGrid = require('react-datagrid')
var data     = require('../data/200')
var columns = [
	{ name: 'index', title: '#', width: 50 },
	{ name: 'firstName', width: 150 },
	{ name: 'lastName', width: 150  },
	{ name: 'email', title: 'Email', width: 100},
	{ name: 'country', width: 200},
	{ name: 'catchPhrase', width: 200}
]

var App = React.createClass({
	onColumnResize: function(firstCol, firstSize, secondCol, secondSize){
	    firstCol.width = firstSize
	    this.setState({})
	},
	render: function(){
		return <DataGrid
			idProperty='id'
			data={data}
			columns={columns}
			style={{height: 400}}
			onColumnResize={this.onColumnResize}
		/>
	}
})

module.exports = App