var React    = require('react')
var DataGrid = require('react-datagrid')
var data     = require('../data/200')
var columns = [
	{ name: 'index', title: '#', width: 50 },
	{ name: 'firstName' },
	{ name: 'lastName'  },
	{ name: 'city', style: { color: 'red' } }
]

var App = React.createClass({
	render: function(){
		return <DataGrid
			idProperty='id'
			data={data}
			columns={columns}
			style={{height: 400}}
		/>
	}
})

module.exports = App